//- a(href="#") ✕
.content--project(style=(props.background ? "background-image: url("+props.path+props.background+")" : "background-image: url(http://lorempixel.com/400/500/abstract/)"))
	//- h1(alt=props.title, class="content--title")= props.title
	.content--title
		= props.title

	//- .content--container(#{ if (props.background) style="background-image:url("+props.background+")"})
	.content--container
		if props.hero
			.hero !{props.hero}
		.description 
			h2 Description
			div !{props.content}
		.images
			if props.images
				if props.images.length === 1
					h2 Image
					img(src=props.path+props.images[0], alt="")
				else
					h2 Images
					.slider
						- for i in props.images
							img(src=props.path+i, alt="")

			hr

			h2 Meta
			table
				tr
					th year
					tr
						td= props.date
				if !props.background
					tr
						th background
						tr
							td lorempixel.com

				if props.meta
					for item in props.meta
						tr
							each v, k in item
								th= k
								tr
									td !{v}



			hr

